<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By price</a>
                <a href="" class="dropdown-item ">By rating</a>
                <a href="" class="dropdown-item ">By category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shirts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Dress shirts</a>
                <a href="" class="dropdown-item">Sweatshirts & Hoodies</a>
                <a href="" class="dropdown-item">T-shirts</a>
                <a href="" class="dropdown-item">All shirts </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pants
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Sweat pants</a>
                <a href="" class="dropdown-item">Jeans</a>
                <a href="" class="dropdown-item">Chinos</a>
                <a href="" class="dropdown-item">All pants</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Underwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Boxers</a>
                <a href="" class="dropdown-item">Socks</a>
                <a href="" class="dropdown-item">All underwear</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All specials</a>
            </div>
        </li>
    </ul>
</div>